.background {
    background-color: darkorange;
    background-image: linear-gradient(darkorange, black);
    font-size: 55px;
    text-align: center;
}

.img {
    border: 10px solid #0d0e0b;
    display: inline-flex;
}

.writes {
    color: red;
    font-family: Arial, Helvetica, sans-serif;
}

.pos-loader {
    margin-top: 10%;
    align-items: center;
    /* padding-left: 40%; */
    display:inline-flex;
}
.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid blue;
    border-bottom: 16px solid blue;
    width: 220px;
    height: 220px;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    align-items: center;
  }

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
.h1 {
    font-size: 30;
    text-align: center;
    color: black;
}
.flex-container {
    display: flex;
    flex-wrap: nowrap;
    background-color: black;
    align-items: center;
  }
  
  .flex-container > div {
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }
  .flex-container>div:hover {
	width: 150px;
    height: 150px;
    transition-duration: 2s;
  }
.Fleximg {
    width: 100px;
    height: 100px;
    display:flex
}    
.Fleximg:hover {
    width: 150px;
    height: 150px;
    transition-duration: 2s;
}