.background {
    background-color: darkorange;
    background-image: linear-gradient(darkorange, black);
    font-size: 55px;
    text-align: center;
}

image {
    width: 300px;
    height: 300px;
}

.img {
    padding: 20px;
    text-align: center;
    align-items: center;
    background-color: black;
    border: 5px;

}

.writes {
    color: red;
    font-family: Arial, Helvetica, sans-serif;
}

.h1 {
    font-size: 30;
    text-align: center;
    color: black;
}
.flex-container {
    display: flex;
    flex-wrap: nowrap;
    background-color: black;
  }
  
  .flex-container > div {
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }
  .flex-container>div:hover {
	width: 150;
    transition-duration: 2s;
  }
.Fleximg {
    width:100px;
    height: 100px;
}    
.Fleximg:hover {
    width: 150px;
    transition-duration: 2s;
}