.background {
    background-color: darkorange;
    background-image: linear-gradient(darkorange, black);
    font-size: 55px;
    text-align: center;
}

image {
    width: 300px;
    height: 300px;
}

.img {
    padding: 20px;
    text-align: center;
    align-items: center;
    background-color: black;
    border: 5px;

}
.h1 {
    font-size: 30;
    text-align: center;
    color: black;
}
